body {
  background-color: #F5F8FC;
  min-height: max-content;
}

.book_image {
  width: 330px;
  height: 420px;
  margin: 25px 25px;
  border: 2px solid #FFCA42;
  border-radius: 1%;
}

.book_small_description {
  margin: 25px 0;
  background-color: transparent;
  font-family: 'Cardo';
  font-weight: 400;
  font-size: 20px;
  text-align: left;
  color: #1B3764;
}

.book_price {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.head {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  width: 100%;
  height: 25px;
  box-sizing: border-box;
  background-color: transparent;
}

.head_title,
.head_price {
  display: inline-flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  align-items: baseline;
  width: auto;
  line-height: 5px;
  font-family: 'Cardo';
  font-weight: 400;
  font-size: 20px;
  text-transform: capitalize;
  color: #1B3764;
}

.head_title {
  text-align: left;
}

.head_price {
  text-align: right;
  justify-content: center;
}

.button_buy {
  background-color: #1B3764;
  color: #FFCA42;
  font-size: 20px;
  font-family: 'Cardo';
  font-weight: 300;
  line-height: 40px;
  border: 3px solid #FFCA42;
  text-transform: uppercase;
  font-style: normal;
  white-space: nowrap;
  letter-spacing: normal;
  cursor: pointer;
}

.button_buy:hover {
  transform: scale(1.10);
}

.counter_wrapper {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 5px;
}

.counter_value {
  border: 2px solid #FFCA42;
  border-radius: 10%;
  text-align: center;
  width: 40px;
  height: 25px;
  font-family: 'Cardo';
  font-weight: 300;
  color: #1B3764;
}

.counter_btn {
  background-color: white;
  border: 2px solid #1B3764;
  border-radius: 10%;
  margin: 4px;
  width: 40px;
  height: 25px;
}

.head_value_price_total {
  font-size: 25px;
  font-weight: 700;
  color: #FFCA42;
}

.description {
  min-height: 150px;
  max-height: max-content;
  font-family: 'Cardo';
  font-weight: 300;
  font-size: 20px;
  text-align: left;
  color: #1B3764;
  margin-bottom: 25px;
}

@media screen and (min-width: 320px) {
  .description {
    margin-top: 50px;
  }
}

@media screen and (min-width: 576px) {
  .description {
    margin-top: 50px;
  }
}

@media screen and (min-width: 768px) {
  .description {
    margin-top: 50px;
  }
}